---
name: Functional Tests

on:
  push:
    branches:
      - main
      - 'bugfix/**'
      - 'feature/**'

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  functional_tests:
    name: Run script
    timeout-minutes: 5
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest']
        version: ['0.7.1', '0.8.0', '0.9.0', '0.10.0', '0.11.0']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          ref: ${{ github.ref }}
      - uses: ./
        with:
          version: ${{ matrix.version }}
      - name: Run script
        run: mint init ${{ matrix.os }}-${{ matrix.version }}
